@import url("/css/common.css");
@import url("/css/aside.css");
@import url("/css/profile.css");
@import url("/css/header.css");
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	outline: 0;
	list-style-type: none;
}
html{
	font-size: 16px;
	font-family: 'Nanum Gothic', sans-serif
}

